@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Oxygen');


#grid {
	height: 100vh;
}

body {
	background-color: #ccddee;
	text-align: center;
}
h1 {
	font: 28px "Oxygen Mono", monospace;
	margin-top: 50px;
	grid-area: title;
}
code {
	display: block;
	width: 40%;
	margin: auto;
	background: #556;
	border:black solid 2px;
	border-radius: 2px;
	font: 16px monospace;
	color: white;
	padding: 6px;
	grid-area: code;
}​

@media only screen and (max-width: 600px) {
	code {
		width: 100%;
	}
}
@media only screen and (min-width: 601px) {
	code {
		width: 425px;
	}
	body {
		overflow: hidden;
	}
}

#img {
	height: 300px;
	width: auto;
	grid-area: img;
}
p {
	font: 14px "Oxygen", sans-serif;
	grid-area: stmt;
}

.red,body span:nth-of-type(2) {
	color: #ff7f7f;
}
.blue {
	color: cyan;
}
#comment {
	color: #aaa;
}